.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: center;
  display: block;
}

input {
  border-radius: 10px;
  border: 1px solid lightslategray;
  padding: 0px 6px;
}
